<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <title>Витрина товаров</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/script.js}" defer></script>
</head>

<body>
    <!-- В href ссылка на страницу заказов -->
    <a th:if="${role != 'ANONYMOUS'}" th:href="@{/order}" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a th:if="${role == 'ANONYMOUS'}" th:href="@{/login}" style="float:right;">
        <b>Войти &cudarrr;</b>
    </a>
    <a th:if="${role != 'ANONYMOUS'}" th:href="@{/logout}" style="float:right;">
        <b>Выйти &cudarrr;</b>
    </a>
    <!-- В href ссылка на корзину -->
    <a th:if="${role == 'USER'}" th:href="@{/cart}" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <!-- В href ссылка на главную страницу -->
    <a th:href="@{/product}" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <!-- В src ссылка изображение товара -->
            <img width="300" height="300" th:src="@{/image/{name}(name=${product.imageName})}">
        </p>
        <p>
            <!-- В text название товара -->
            <b th:text="${product.title}"></b>
            <!-- В text цена товара -->
            <b th:text="${product.price}" style="text-align:right;"></b>
        </p>
        <p>
            <!-- В text описание товара -->
            <span th:text="${product.description}"></span>
        </p>
        <!--
		В action ссылка на изменение количества товара в корзине.
		Передается параметр запроса action=[minus|plus]
	-->
        <div th:if="${role == 'USER'}">
            <span th:if="${product.quantity != 0}">
                <button value="MINUS" th:onclick="sendAction([[${product.id}]], 'MINUS')">-</button>
                <span th:text="${product.quantity}"></span>
                <button value="PLUS" th:onclick="sendAction([[${product.id}]], 'PLUS')">+</button>
            </span>
            <button value="PLUS" th:if="${product.quantity == 0}"
                    th:onclick="sendAction([[${product.id}]], 'PLUS')"
                    style="float:right;">В корзину</button>
        </div>
    </div>
</body>

</html>
