<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <title>Заказы</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/scripts/script.js}" defer></script>
</head>

<body>
<a th:if="${role != 'ANONYMOUS'}" th:href="@{/logout}" style="float:right;">
    <b>Выйти &cudarrr;</b>
</a>
<!-- В href ссылка на корзину -->
<a th:if="${role != 'ANONYMOUS'}" th:href="@{/cart}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<!-- В href ссылка на главную страницу -->
<a th:href="@{/product}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <!-- Итерируемся по заказам -->
    <tr th:each="order : ${orders}">
        <td>
            <h2>
            	<!--
            		В text номер заказа.
            		В href ссылка на страницу заказа. 
            	-->
                <a th:text="${order.number}" th:href="@{/order/{id}(id=${order.id})}"></a>
            </h2>
            <table>
                <!-- Итерируемся по товарам в заказе -->
                <tr th:each="product : ${order.items}">
                    <!-- В text название товара, количество штук и стоимость -->
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.price}"></td>
                </tr>
            </table>
            <p>
                <!-- В text общая сумма заказа -->
                <b th:text="${order.totalPrice}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>
